* {
    color: #FFFFFF;
    font-family: "Trebuchet MS",
                 "Lucida Sans Unicode",
                 "Lucida Grande",
                 "Lucida Sans",
                 Arial,
                 sans-serif;
}

body {
    background-color: #121213;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}

.tile-container {
    width: 330px;
    margin-bottom: 30px;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}
