* {
    color: #FFFFFF;
    font-family: "Trebuchet MS",
                 "Lucida Sans Unicode",
                 "Lucida Grande",
                 "Lucida Sans",
                 Arial,
                 sans-serif;
}

body {
    background-color: #121213;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3A3A3C;
}

.tile-container {
    width: 330px;
    margin-bottom: 30px;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
}

.key-container button:nth-child(11) {   /*  A       */
    margin-left: 30px;
}

.key-container button:nth-child(20),    /*  ENTER   */
.key-container button:nth-child(28) {   /*  ≪       */
    width: 68px;
}
